.participants {
  grid-area: players;
}

.watchers {
  grid-area: watchers;
}

.participants, .watchers {
  background-color: #f7f8f9;
  border: 2px solid #737373;
  padding: 10px 15px;
  border-radius: 0.2rem;

  h2 {
    margin: 0;
    color: #737373;
  }

  ul {
    padding-left: 0;
    padding-top: 1em;
    
    li {
      margin-bottom: 1em;
      list-style: none;
    }
  }
}