.story-list {
  grid-area: story-list;
  background-color: #f7f8f9;
  padding: 10px 15px;
  border: 2px solid #737373;
  border-radius: 0.2rem;

  h2 {
    margin: 0;
    color: #737373;
  }

  ul {
    padding-left: 0;
    padding-top: 1em;
    
    li {
      list-style: none;
      margin-bottom: 1em;
      cursor: pointer;
      font-size: 75%;
  
      &:hover, &:focus {
        color: #0071c5;
      }
    }
  }

  .stories {
    overflow-y: auto;
    height: 70vh;
  }

  .active {
    font-weight: bold;
  }
}