.stats {
  grid-area: stats;
  border: 1px solid #b1babf;
  padding: 10px 15px;
  border: 1px solid #b1babf;

  h2 {
    margin: 0;
  }

  ul {
    padding-left: 0;
    padding-top: 1em;
  
    li {
      list-style: none;
      margin-bottom: 1em;
    }
  }
}