.App {

  header {
    background-color: #282c34;
    display: flex;
    color: white;
    
    img {
      height: 3em;
      margin: 1em;
    }

    nav {
      padding-top: 1.5em;
    }
    
    a {
      color: #FFFFFF;
      margin: 1em;
      font-size: 1.5em;
      text-decoration: none;
    }
  }

  .container {
    width: 90vw;
    margin: 0 auto;
  }

}


