body {
  margin: 0;
  padding: 0;
  font-family: "Intel Clear Light", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$intel-font-path: "assets/fonts/" !default;
$icon-font-path: "assets/fonts/" !default;

@import "node_modules/it-mlaf-sass-bs4/it-mlaf";
@import "./scss/_fonts";
@import "./scss/_variables";